@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0F1F2E;
  --secondary-color: #0E7490;
  --accent-color: #2DD4BF;
  --background-color: #F5F7FA;
}

body {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}